## üî• **Master Pandas in Record Time (80/20 Rule Approach)**  

To **master Pandas fast**, we‚Äôll **skip traditional tutorials** and focus on the **20% of functions** that deliver **80% of real-world results**. Instead of passive reading, we‚Äôll use **high-intensity active learning** with **speed challenges, cheat sheets, and forced recall**.

### **üîπ Step 1: The 12 Essential Pandas Functions (15 min)**
Forget **comprehensive documentation**‚Äîyou only need these **12 functions** to do 80% of data manipulation tasks:

| **Category** | **Function** | **What It Does** | **Example** |
|-------------|-------------|------------------|-------------|
| **Loading Data** | `pd.read_csv()` | Reads CSV files | `df = pd.read_csv("data.csv")` |
| **Basic Inspection** | `df.head()` | Shows first 5 rows | `df.head(10)` |
| | `df.info()` | Data types & missing values | `df.info()` |
| **Selecting Data** | `df[['col1', 'col2']]` | Selects specific columns | `df[['Age', 'Fare']]` |
| | `df.loc[]` | Selects rows/columns by labels | `df.loc[2, 'Age']` |
| | `df.iloc[]` | Selects rows/columns by index | `df.iloc[0:5, :]` |
| **Filtering Data** | `df[df['Age'] > 30]` | Filters rows | `df[df['Survived'] == 1]` |
| **Sorting Data** | `df.sort_values()` | Sorts DataFrame | `df.sort_values(by='Age', ascending=False)` |
| **Missing Data** | `df.dropna()` | Removes missing values | `df.dropna(subset=['Age'])` |
| | `df.fillna()` | Fills missing values | `df.fillna(df['Age'].mean())` |
| **Group & Aggregate** | `df.groupby().agg()` | Groups & calculates stats | `df.groupby('Pclass')['Fare'].mean()` |
| **Apply Functions** | `df.apply()` | Runs a function on a column | `df['Age'] = df['Age'].apply(lambda x: x + 1)` |

üéØ **Your Task (15 min)**  
- **Write down these 12 functions** (no copy-pasting).  
- **Summarize each in 1 sentence** (forces clarity).  
- **Look at them, then try to recall them from memory**.

### **üîπ Step 2: Ultra-Fast Data Challenge (30 min)**
üí° **Why?** Active learning forces **instant application** ‚Üí **higher retention**.

### **üî• Challenge: Titanic Dataset Speed Run**
üíæ Load the dataset:

```python
import pandas as pd

url = "https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv"
df = pd.read_csv(url)
```

### **‚è≥ Timer Set: 30 min**
Solve **these 5 tasks as fast as possible** using only **Google + docs** (no tutorials).  
- **(5 min)** Find the number of missing values in each column.  
- **(5 min)** Select only passengers from class **Pclass = 1**.  
- **(5 min)** Calculate the **average age** of survivors.  
- **(5 min)** Sort passengers by **Fare** (highest to lowest).  
- **(10 min)** Fill missing **Age** values with the median of each `Pclass`.  

üéØ **Your Task:**  
- Try solving all 5 challenges **without looking at docs first**.  
- If stuck, **Google only what you need**, then redo it **from memory**.  

üöÄ **Bonus: Do it again tomorrow & cut time in half.**

In [ ]:
# Pandas practice

# Load the dataset
import pandas as pd
url = "https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv"
df = pd.read_csv(url)

# Number of missinf values in each column
#print("Number of missing values in each column")
#print(df.info())

df_1 = df[df["Pclass"] == 1]
#print("Passengers from class 1")
#print(df_1.head())

# average age of survivors
df_survived = df[df["Survived"] == 1]
avg_age = df["Age"].mean()
print(f"Average age of survivors: {avg_age}")

# Sort passengers by fare (ascending = False)
df_sorted = df.sort_values(by="Fare", ascending=False)
#print("Sorted list")
#print(df_sorted.head())

# Missing values

df["Age"] = df["Age"].fillna(df.groupby("Pclass")["Age"].transform(lambda x: x.median()))
#print(df.info())

Average age of survivors: 29.69911764705882

### **üîπ Step 3: Teach Pandas in 5 Minutes (15 min)**
üí° **Why?** The **Feynman Technique** says if you can‚Äôt explain it **simply**, you don‚Äôt understand it.

üé§ **Your Task:**  
- Explain **Pandas basics** to me **in plain English** (or write a 5-line summary).  
- If you struggle, **go back to Step 1 & refine your cheat sheet**.  
- If you do well, **I‚Äôll challenge you with advanced scenarios**.

***My summary:***  *Pandas is used for data manipulation of data stored in the format of dataframes. read files df.read_cv(url/local path) We can explore the df by df.head() and df.info(). I can group the data by categorical variable levels using df.group_by(by="variable", ascending = True) and then aggregate them using mean() od median(). Apply function and transorm is a bit challenging for me, but you can use them to apply lambda function to each group or a subset. To slice the data we can use `df.iloc[0:row, 0:col]`. I can create a df of a subset of the original df by putting it into braclkets (`df[df["Fare"] > 50])`*.

### **üîπ Step 4: Real-World Integration (30 min)**
üí° **Why?** The best way to retain Pandas is to use it in a **real-world** scenario.

### **üî• Mini-Project: Titanic Data Report**
üîπ Using Pandas, **create a report answering these:**  
1. How many passengers survived vs. died?  
2. What was the **average ticket price per class**?  
3. Who was the **oldest survivor**?  
4. What percentage of survivors were **female vs. male**?  
5. **Export your results** to a CSV file.

In [ ]:
# Real world integration
# Passengers dies vs survived
s = df[df["Survived"] == 1]
s_count = len(s)
d = df[df["Survived"] == 0]
ratio = float(len(s) / len(d))
print(f"The number of passengers who died is {len(s)} and the number of passengers who survived is {len(d)} and the ratio is {ratio}")

# Average ticket price per class
average_fare_per_class = df.groupby("Pclass")["Fare"].mean()

# The oldest survivor
d.sort_values(by="Age", ascending=False)
print("The oldest passenger who survived is", d["Name"][0], ", age:", int(df["Age"][0]))
oldest_survivor_age = int(df["Age"][0])

# Percentage of male vs female
m = s[s["Sex"] == "male"]
f = s[s["Sex"] == "female"]
male_rate = (len(m) / (len(m) + len(f))) * 100
female_rate = (len(f) / (len(m) + len(f))) * 100
print(f"The percentage of male passengers is {male_rate}")
print(f"The percentage of female passengers is {female_rate}")
# Creating a dictionary for better readability
gender_proportion = {
    "female": female_rate,
    "male": male_rate
}

# Creating dictionary for survival rate by gender
gender_proportion = {"female": female_rate, "male": male_rate}
gender_proportion_df = pd.DataFrame([gender_proportion])  # Convert to DataFrame

survival_rate_df = pd.DataFrame([gender_proportion], index = ["gender_proportion"])
# Export to csv
summary_df = pd.DataFrame({
    "Survivors" : [s_count],
    "Agerage fare per class": [average_fare_per_class.tolist()],
    "Oldest survivor age": [oldest_survivor_age],
    "Survival rate by Gender": [gender_proportion]
})

summary_df
summary_df.to_csv("summary.csv", index = False)

The number of passengers who died is 342 and the number of passengers who survived is 549 and the ratio is 0.6229508196721312
The oldest passenger who survived is Braund, Mr. Owen Harris , age: 22
The percentage of male passengers is 31.871345029239766
The percentage of female passengers is 68.12865497076024

üíª **Code Outline:**
```python
# Number of survivors
survivors_count = df['Survived'].value_counts()

# Average Fare per class
fare_per_class = df.groupby('Pclass')['Fare'].mean()

# Oldest survivor
oldest_survivor = df[df['Survived'] == 1]['Age'].max()

# Gender breakdown of survivors
survival_rate_gender = df[df['Survived'] == 1]['Sex'].value_counts(normalize=True) * 100

# Export to CSV
summary_df = pd.DataFrame({
    'Survivors': survivors_count,
    'Avg Fare per Class': fare_per_class,
    'Oldest Survivor Age': oldest_survivor,
    'Survival Rate by Gender': survival_rate_gender
})

summary_df.to_csv("titanic_summary.csv", index=False)
```

üéØ **Your Task:**  
- Run this code and **modify it to add your own insights**.  
- Once done, **summarize your findings in 3 bullet points**.  

üöÄ **Bonus: Present your findings in 2 minutes as if explaining to a manager.**  

---

### **üîπ Final Step: Speed Reinforcement (15 min)**
üí° **Why?** **Speed drills force pattern recognition** ‚Üí **expert-level fluency**.

‚è≥ **Timer Set: 15 min**
- **Look away from your screen.**
- Write down from memory:  
  - The **12 essential Pandas functions**.  
  - How to **load, filter, group, and export data**.  
- **Compare to the cheat sheet.**  
- **Repeat daily for 3 days.** üöÄ

Now, let's **push your Pandas skills further** with **advanced challenges** üöÄ  

---

## **üî• Challenge 1: Complex Grouping & Aggregation**
üîπ **Task**:  
Using the Titanic dataset, **group by** both **Pclass** and **Sex**, then compute:  
- The **average fare** paid per group  
- The **median age** per group  
- The **survival rate per group**  

üîπ **Hint:**  
- You'll need `groupby()` with **multiple columns**.
- Use `.agg()` to apply multiple functions at once.
- Compute **survival rate** as `mean()` on the `Survived` column.

üéØ **Goal:** Understand **multi-level grouping** and using `.agg()` effectively.

In [ ]:
df.groupby(["Pclass", "Sex"]).agg(
    {
        "Fare": "mean",
        "Age": "median",
        "Survived": "mean"
    }
)

                     Fare   Age  Survived
Pclass Sex
1      female  106.125798  35.5  0.968085
       male     67.226127  37.0  0.368852
2      female   21.970121  28.5  0.921053
       male     19.741782  29.0  0.157407
3      female   16.118810  24.0  0.500000
       male     12.661633  24.0  0.135447

## **üî• Challenge 2: Apply Custom Functions**
üîπ **Task**:  
Write a function that:
- **Categorizes passengers' ages** into **"Child" (‚â§16), "Adult" (>16 & ‚â§60), "Senior" (>60)**.
- Use **`.apply()`** to create a new column `"AgeGroup"`.

üîπ **Hint:**  
- Define a **custom function** with `lambda`.
- Apply it to the `"Age"` column.

üéØ **Goal:** Understand **`.apply()` for row-wise transformations**.

In [ ]:
df["AgeGroup"] = df["Age"].apply(lambda x : "Child" if x <= 16 else ("Senior" if x > 60 else "Adult"))
#df["AgeGroup"].head()

## **üî• Challenge 3: Advanced Filtering**
üîπ **Task**:  
Filter the dataset to show:
- Passengers who **paid more than 3√ó the median Fare**.
- Were **not in 3rd class**.
- Were **either Female OR under 18**.

üéØ **Goal:** Learn **complex filtering conditions**.

In [ ]:
df_filtered = df[
    (df["Fare"] > df["Fare"].median() * 3) &
    (df["Pclass"] != 3) &
    ((df["Sex"] == "female") | (df["Age"] < 18))
]

## **üî• Challenge 4: Pivot Tables**
üîπ **Task**:  
Create a **pivot table** showing:
- The **average fare paid** for each combination of `"Pclass"` and `"Sex"`.  
- Fill missing values with **0**.  
- Add `margins=True` to include totals.

üéØ **Goal:** Understand **pivot tables for data summarization**.

### **üìä Pivot Table in Pandas**
A **pivot table** in Pandas is a way to **summarize, aggregate, and analyze data** by reorganizing it. It is similar to pivot tables in Excel.

#### **üîç Understanding Pivot Table Structure in Pandas**
When creating a pivot table, it's essential to know:
1. **What goes in the `values`?** ‚Üí The numerical data you want to summarize.
2. **What goes in the `index`?** ‚Üí The categories that define the rows.
3. **What goes in the `columns`?** ‚Üí The categories that define the columns.
4. **What function is used (`aggfunc`)?** ‚Üí How the data is summarized (sum, mean, count, etc.).

---

##### **üîπ How to Decide What Goes Where?**
| **Question** | **Pivot Parameter** | **Example** |
|-------------|----------------|-----------|
| **What numeric data do I want to summarize?** | `values` | `"fare"` (numeric column) |
| **What should be in rows?** | `index` | `"pclass"` (categorical) |
| **What should be in columns?** | `columns` | `"sex"` (categorical) |
| **How should the data be summarized?** | `aggfunc` | `"mean"` (average) |

---

##### **üîç How to Choose the Right Pivot Table?**
1. **If you want to see total fare per class & gender:**
   ```python
   titanic.pivot_table(values="fare", index="pclass", columns="sex", aggfunc="sum")
   ```
   - üìå **Rows = `pclass` (1st, 2nd, 3rd)**
   - üìå **Columns = `sex` (male, female)**
   - üìå **Values = Total Fare**

2. **If you want to count how many passengers exist in each category:**
   ```python
   titanic.pivot_table(values="fare", index="pclass", columns="sex", aggfunc="count")
   ```
   - üìå Counts number of passengers instead of averaging.

3. **If you want to see survival rates per class & gender:**
   ```python
   titanic.pivot_table(values="survived", index="pclass", columns="sex", aggfunc="mean")
   ```
   - üìå **Survival rate (%) instead of Fare.**

---

#### **üéØSummary**
- The **`values`** parameter is always a **numerical column** (e.g., fare, survived, age).
- The **`index`** represents **row categories** (e.g., class, embarked location).
- The **`columns`** represent **column categories** (e.g., sex, day of the week).
- The **`aggfunc`** tells **how to summarize** the numerical data (sum, mean, count).

---

## **üìù Syntax**
```python
df.pivot_table(values, index, columns, aggfunc)
```
| Parameter | Description |
|-----------|------------|
| `values`  | The column(s) to aggregate (numeric data) |
| `index`   | The column(s) to group by (rows) |
| `columns` | The column(s) to pivot (become new headers) |
| `aggfunc` | The function to apply (default=`mean()`, but can be `sum()`, `count()`, etc.) |

---

## **üîπ Example: Creating a Pivot Table**
### **üîπ Sample Data**
```python
import pandas as pd

# Sample sales data
data = {
    "Region": ["East", "West", "East", "West", "East", "West"],
    "Product": ["A", "A", "B", "B", "C", "C"],
    "Sales": [200, 150, 300, 250, 400, 350]
}

df = pd.DataFrame(data)
print(df)
```
üìå **DataFrame Before Pivoting:**
```
  Region Product  Sales
0   East       A    200
1   West       A    150
2   East       B    300
3   West       B    250
4   East       C    400
5   West       C    350
```

---

## **üîπ Basic Pivot Table**
```python
pivot_df = df.pivot_table(values="Sales", index="Product", columns="Region", aggfunc="sum")
print(pivot_df)
```
üìå **Pivot Table Output:**
```
Region    East  West
Product             
A         200   150
B         300   250
C         400   350
```
- **Rows (`index`)** ‚Üí `Product` (A, B, C).
- **Columns (`columns`)** ‚Üí `Region` (East, West).
- **Values (`Sales`)** ‚Üí Aggregated using `sum()`.

---

## **üîπ Multiple Aggregations**
You can compute **multiple aggregations**:
```python
pivot_df = df.pivot_table(values="Sales", index="Product", columns="Region", aggfunc=["sum", "mean"])
print(pivot_df)
```
üìå **Output (with sum & mean):**
```
         sum        mean      
Region  East  West  East  West
Product                        
A       200   150   200   150
B       300   250   300   250
C       400   350   400   350
```

---

## **üîπ Counting Entries**
You can use `count` instead of `sum`:
```python
pivot_df = df.pivot_table(values="Sales", index="Region", columns="Product", aggfunc="count")
print(pivot_df)
```
üìå **Output (count of sales per product per region):**
```
Product  A  B  C
Region         
East     1  1  1
West     1  1  1
```

---

## **üîπ Filling Missing Values**
If some combinations don‚Äôt exist, you can **fill missing values**:
```python
pivot_df = df.pivot_table(values="Sales", index="Product", columns="Region", aggfunc="sum", fill_value=0)
print(pivot_df)
```
üìå **This prevents `NaN` values**.

---

### **üöÄ When to Use Pivot Tables?**
‚úÖ Summarizing large datasets.  
‚úÖ Aggregating numerical values (`sum`, `mean`, `count`).  
‚úÖ Reshaping data for easy analysis.

In [ ]:
# Create pivot table
pivot_table = df.pivot_table(
    values="Fare",      # üöÄ The metric we want to analyze (numeric column)
    index="Pclass",     # üìå Groups rows by Passenger Class
    columns="Sex",      # üìå Groups columns by Sex
    aggfunc="mean",     # üìä Summarizes using Average (Mean)
    fill_value=0,       # üîÑ Fills missing values with 0
    margins=True        # üì¢ Adds total row/column
)

#pivot_table

## **üî• Challenge 5: Transforming Data Efficiently**
üîπ **Task**:  
Use `.transform()` to:
- Normalize the `"Fare"` column **by Passenger Class** (subtract mean & divide by std within each class).

üéØ **Goal:** Learn **`.transform()` to apply group-based calculations efficiently**.

### **üîÑ Understanding `transform()` vs. `apply()` in Pandas**
Both **`transform()`** and **`apply()`** allow you to modify and manipulate data in **Pandas DataFrames and Series**, but they serve **different purposes**.

---

## **üöÄ `apply()` - Apply a Function to Rows or Columns**
### **When to Use?**
‚úÖ When you need to **apply a custom function** to a **whole row or column**.  
‚úÖ Can be used on **both Series & DataFrames**.  
‚úÖ Can return **a different shape** than the original (aggregation, reductions, etc.).

---

### **üìù Example: Using `apply()` to Modify a Column**
```python
import pandas as pd

# Create a sample DataFrame
df = pd.DataFrame({
    "name": ["Alice", "Bob", "Charlie"],
    "age": [25, 30, 35]
})

# Apply a function to modify age
df["age_category"] = df["age"].apply(lambda x: "Young" if x < 30 else "Old")
print(df)
```
üìå **Output:**
```
     name  age age_category
0   Alice   25       Young
1     Bob   30        Old
2  Charlie   35        Old
```
### **üìù Example: Using `apply()` to Modify an Entire Row**
```python
# Apply function to rows (axis=1)
df["name_length"] = df.apply(lambda row: len(row["name"]), axis=1)
print(df)
```
üìå **Output:**
```
     name  age age_category  name_length
0   Alice   25       Young            5
1     Bob   30        Old            3
2  Charlie   35        Old            7
```
üîπ **Key Points:**
- `apply()` can **modify** entire rows/columns.
- **Flexible** ‚Üí Can return a different shape.
- Works on **both Series & DataFrames**.

---

## **üöÄ `transform()` - Element-wise Transformations**
### **When to Use?**
‚úÖ When you need to **modify each element in a column individually**.  
‚úÖ The result **must have the same shape** as the original data.  
‚úÖ Works **only on Series or DataFrame columns**.

---

### **üìù Example: Using `transform()` for Normalization**
```python
df["normalized_age"] = df["age"].transform(lambda x: (x - x.mean()) / x.std())
print(df)
```
üìå **Output:**
```
     name  age age_category  name_length  normalized_age
0   Alice   25       Young            5       -1.224745
1     Bob   30        Old            3        0.000000
2  Charlie   35        Old            7        1.224745
```
üîπ **Key Points:**
- **Applies element-wise functions.**
- **Maintains the same shape** as the original column.
- Often used for **group-wise transformations** (see below).

---

## **üöÄ `transform()` vs. `apply()` for Grouped Operations**
### **üìù Example: Compute Mean Age per Category**
#### **‚úÖ Using `apply()` (returns a Series)**
```python
df["group_mean_apply"] = df.groupby("age_category")["age"].apply(lambda x: x.mean())
print(df)
```
üìå Output:
```
     name  age age_category  group_mean_apply
0   Alice   25       Young               25.0
1     Bob   30        Old               32.5
2  Charlie   35        Old               32.5
```
üîπ `apply()` **creates a new Series** that is merged back.

#### **‚úÖ Using `transform()` (keeps same shape)**
```python
df["group_mean_transform"] = df.groupby("age_category")["age"].transform("mean")
print(df)
```
üìå Output:
```
     name  age age_category  group_mean_transform
0   Alice   25       Young               25.0
1     Bob   30        Old               32.5
2  Charlie   35        Old               32.5
```
üîπ `transform()` **keeps the same shape** as the original column.

---

## **üéØ When to Use `apply()` vs `transform()`**
| **Scenario** | **Use `apply()`** | **Use `transform()`** |
|-------------|----------------|----------------|
| Apply function **row-wise (axis=1)** | ‚úÖ | ‚ùå |
| Apply function **column-wise (axis=0)** | ‚úÖ | ‚úÖ |
| Aggregation (mean, sum, count, etc.) | ‚úÖ | ‚ùå |
| Element-wise transformations (scaling, normalizing) | ‚ùå | ‚úÖ |
| Returning a **different shape** | ‚úÖ | ‚ùå |
| Returning **same shape** as input | ‚ùå | ‚úÖ |

---

### **üí° Quick Rule of Thumb**
- **Use `apply()`** when **you don‚Äôt care about output shape** (modifying rows, summarizing data).
- **Use `transform()`** when **you need the same shape as the input** (scaling, normalizing, filling missing values).

## **üî• Super Challenge: Write an Efficient Data Pipeline**
üîπ **Task**:  
1. Fill missing **Ages** with the median **by Pclass**.  
2. Convert **Sex** to **0/1** (`male=1, female=0`).  
3. Normalize **Fare** within each class.  
4. Output the transformed **clean dataset**.

üéØ **Goal:** Chain multiple transformations efficiently.

In [ ]:
df["Fare_Normalized"] = df.groupby("Pclass")["Fare"].transform(lambda x: (x - x.mean()) / x.std())
df[["Pclass", "Fare", "Fare_Normalized"]].head()
df["Age"] = df.groupby("Pclass")["Age"].transform(lambda x: x.fillna(x.median))
df["Sex"] = df["Sex"].transform(lambda x: "1" if x == "male" else "0")
df["Sex"].head()
df["Fare"] = df.groupby("Pclass")["Fare"].transform(lambda x: (x - x.mean()) / x.std())
df.head()

## üî• **Pandas Date & Datetime Mastery in Record Time**
Instead of a traditional tutorial, we‚Äôll use a **high-impact, hands-on approach** focusing on the **20% of functions that cover 80% of real-world use cases**.

---

## **üìå Step 1: Creating & Converting Datetime Objects**
### **‚úÖ 1. Load a dataset with dates**
Pandas doesn‚Äôt always recognize dates automatically. You need to **convert them explicitly**.

```python
import pandas as pd

# Create a sample DataFrame with date strings
data = {"date": ["2023-03-15", "2024-01-10", "2022-06-21"]}
df = pd.DataFrame(data)

# Convert string to datetime
df["date"] = pd.to_datetime(df["date"])

print(df.dtypes)  # Check data type
print(df.head())
```

üéØ **Your Task:**  
- Try running `df["date"] = pd.to_datetime(df["date"])` **without specifying a format**.
- Now, try **forcing a format**:  
  ```python
  df["date"] = pd.to_datetime(df["date"], format="%Y-%m-%d")
  ```

‚úÖ **Why does it matter?**  
- If your dataset has dates in **weird formats**, Pandas might **misinterpret them** (e.g., `01-02-2024` ‚Üí Is this Jan 2 or Feb 1?).
- `format="%Y-%m-%d"` ensures **consistent interpretation**.

---

## **üìå Step 2: Extracting Useful Date Components**
Once you have a datetime column, **you can extract insights**:

```python
df["year"] = df["date"].dt.year
df["month"] = df["date"].dt.month
df["day"] = df["date"].dt.day
df["weekday"] = df["date"].dt.day_name()  # Get weekday name

print(df.head())
```

üéØ **Your Task:**  
- Extract **only the month names** (`df["date"].dt.month_name()`).
- Extract **week number** (`df["date"].dt.isocalendar().week`).

‚úÖ **Why does it matter?**  
- Useful for **time-based grouping** (e.g., analyzing sales by month or week).
- Helps in **trend detection** (e.g., sales peak on Mondays).

---

## **üìå Step 3: Handling Time Components (Hour, Minute, Second)**
```python
# Adding a datetime with time component
df["date"] = pd.to_datetime(["2023-03-15 14:30:00", "2024-01-10 08:15:00", "2022-06-21 22:45:00"])

# Extract time components
df["hour"] = df["date"].dt.hour
df["minute"] = df["date"].dt.minute
df["second"] = df["date"].dt.second

print(df.head())
```

üéØ **Your Task:**  
- Extract **only the time**: `df["time"] = df["date"].dt.time`
- Extract **AM/PM indicator**: `df["AM_PM"] = df["date"].dt.strftime('%p')`

‚úÖ **Why does it matter?**  
- Essential for **hourly trend analysis** (e.g., most active hours in a dataset).
- Helps with **time-based filtering** (e.g., filter data for morning or evening).

---

## **üìå Step 4: Date Arithmetic (Adding & Subtracting Dates)**
üîπ **Adding or subtracting days, months, or years:**
```python
df["next_week"] = df["date"] + pd.DateOffset(weeks=1)  # Add 1 week
df["prev_month"] = df["date"] - pd.DateOffset(months=1)  # Subtract 1 month
df["next_year"] = df["date"] + pd.DateOffset(years=1)  # Add 1 year

print(df.head())
```

üéØ **Your Task:**  
- Subtract **1 day**: `df["yesterday"] = df["date"] - pd.Timedelta(days=1)`
- Add **3 hours**: `df["3_hours_later"] = df["date"] + pd.Timedelta(hours=3)`

‚úÖ **Why does it matter?**  
- Useful for **rolling window analysis** (e.g., calculate values for the previous week).
- Helps in **scheduling and forecasting**.

---

## **üìå Step 5: Filtering & Comparing Dates**
### **üîé Find data within a date range**
```python
start_date = "2023-01-01"
end_date = "2024-01-01"

df_filtered = df[(df["date"] >= start_date) & (df["date"] <= end_date)]
print(df_filtered)
```

üéØ **Your Task:**  
- Filter only for **weekends**:  
  ```python
  df_weekends = df[df["date"].dt.weekday >= 5]  # 5 = Saturday, 6 = Sunday
  ```
- Filter for dates **before 2023**:  
  ```python
  df_before_2023 = df[df["date"] < "2023-01-01"]
  ```

‚úÖ **Why does it matter?**  
- Crucial for **time-based data filtering** (e.g., select only last month's data).
- Helps in **trend analysis over specific time periods**.

---

## **üìå Step 6: Resampling (Grouping Data by Time)**
üîπ **Convert raw timestamps into summarized time periods**:

```python
df.set_index("date", inplace=True)  # Set datetime as index

# Resample by month (get average values for each month)
monthly_data = df.resample("M").mean()

# Resample by week
weekly_data = df.resample("W").mean()

print(monthly_data.head())
print(weekly_data.head())
```

üéØ **Your Task:**  
- Resample **by quarter (`Q`)**.
- Resample **by day (`D`)**.

‚úÖ **Why does it matter?**  
- Used for **time-series analysis** (e.g., sales trends by month).
- Helps to **smooth noisy data** and find patterns.

---

## **üìå Step 7: Handling Time Zones**
üîπ **Convert between time zones**:
```python
df["date"] = df["date"].dt.tz_localize("UTC")  # Set UTC timezone
df["date_pacific"] = df["date"].dt.tz_convert("America/Los_Angeles")  # Convert to LA time

print(df.head())
```

üéØ **Your Task:**  
- Convert dates **to "Asia/Tokyo" time zone**.
- Convert a timestamp to **"Europe/London"**.

‚úÖ **Why does it matter?**  
- Essential for **global datasets** (e.g., aligning timestamps from different regions).
- Important in **stock market & server log analysis**.

---

## **üî• Final Boss Challenge**
üéØ **Goal: Clean & Analyze a Date Dataset**
1. Load the Titanic dataset.
2. Convert `"Date of Journey"` column into a proper **datetime format**.
3. Extract **year, month, day, and weekday**.
4. Filter **only passengers who traveled on a weekend**.
5. Calculate **how many passengers traveled in each month**.
6. Export results to `"titanic_dates_cleaned.csv"`.

---

## **üî• Recap: The 80/20 Pandas Datetime Mastery Formula**
| **Task** | **Essential Pandas Function** |
|----------|-----------------------------|
| Convert string to datetime | `pd.to_datetime()` |
| Extract date parts | `.dt.year`, `.dt.month`, `.dt.day_name()` |
| Add/subtract time | `pd.DateOffset()` & `pd.Timedelta()` |
| Filter dates | `df[df["date"] >= "2023-01-01"]` |
| Resample data | `df.resample("M").mean()` |
| Convert time zones | `.dt.tz_localize()` & `.dt.tz_convert()` |

‚è≥ **Total Time: ~2 hours**  
By the end, you‚Äôll **master date handling & time-series data in Pandas**.

---

### **üí° Ready to tackle the final challenge, or do you want a real dataset to practice on? üöÄ**

## üî• **Master SQL Commands in Pandas in Record Time**
Instead of going through **traditional SQL tutorials**, let‚Äôs focus on the **80/20** rule: mastering the **20% of SQL operations** that cover **80% of real-world data manipulation** using **Pandas**.

---

## **üìå Step 1: Loading Data into Pandas**
Before running SQL-like operations, let‚Äôs load a dataset into Pandas.

```python
import pandas as pd

# Load Titanic dataset
url = "https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv"
df = pd.read_csv(url)

print(df.head())  # Display first 5 rows
```

üéØ **Your Task:**
- Run `df.info()` to check **column types**.
- Run `df.describe()` to get **summary statistics**.

‚úÖ **Why?** Before running SQL-like queries, you should **always inspect your dataset**.

---

## **üìå Step 2: SQL Equivalent of `SELECT` (Column Selection)**
**SQL Query:**
```sql
SELECT Name, Age, Sex FROM df;
```
**Pandas Equivalent:**
```python
df[["Name", "Age", "Sex"]]
```

üéØ **Your Task:**  
- Select only `"Survived"`, `"Pclass"`, and `"Fare"` columns.

‚úÖ **Why?** Selecting columns is a fundamental operation in **data exploration & preprocessing**.

---

## **üìå Step 3: SQL Equivalent of `WHERE` (Filtering Rows)**
### **1Ô∏è‚É£ Filter based on a single condition**
**SQL Query:**
```sql
SELECT * FROM df WHERE Age > 30;
```
**Pandas Equivalent:**
```python
df[df["Age"] > 30]
```

### **2Ô∏è‚É£ Filter based on multiple conditions**
**SQL Query:**
```sql
SELECT * FROM df WHERE Age > 30 AND Sex = 'female';
```
**Pandas Equivalent:**
```python
df[(df["Age"] > 30) & (df["Sex"] == "female")]
```

üéØ **Your Task:**  
- Filter passengers who **paid a fare greater than 50** and **are male**.

‚úÖ **Why?** Filtering is crucial for **data cleaning & analysis**.

---

## **üìå Step 4: SQL Equivalent of `ORDER BY` (Sorting)**
**SQL Query:**
```sql
SELECT * FROM df ORDER BY Age DESC;
```
**Pandas Equivalent:**
```python
df.sort_values(by="Age", ascending=False)
```

üéØ **Your Task:**  
- Sort passengers **by Fare (highest to lowest).**

‚úÖ **Why?** Sorting helps in **ranking and analyzing distributions**.

---

## **üìå Step 5: SQL Equivalent of `GROUP BY` (Aggregation)**
### **1Ô∏è‚É£ Group by a single column**
**SQL Query:**
```sql
SELECT Pclass, AVG(Fare) FROM df GROUP BY Pclass;
```
**Pandas Equivalent:**
```python
df.groupby("Pclass")["Fare"].mean()
```

### **2Ô∏è‚É£ Group by multiple columns**
**SQL Query:**
```sql
SELECT Pclass, Sex, AVG(Age) FROM df GROUP BY Pclass, Sex;
```
**Pandas Equivalent:**
```python
df.groupby(["Pclass", "Sex"])["Age"].mean()
```

üéØ **Your Task:**  
- Find the **average Fare and Age per class (`Pclass`)**.

‚úÖ **Why?** Aggregation is **key for summarizing data**.

---

## **üìå Step 6: SQL Equivalent of `HAVING` (Filtering After Aggregation)**
**SQL Query:**
```sql
SELECT Pclass, AVG(Fare) FROM df GROUP BY Pclass HAVING AVG(Fare) > 20;
```
**Pandas Equivalent:**
```python
df.groupby("Pclass")["Fare"].mean().reset_index().query("Fare > 20")
```

üéØ **Your Task:**  
- Filter only **groups where the average age is above 30**.

‚úÖ **Why?** `HAVING` is useful when filtering **aggregated results**.

---

## **üìå Step 7: SQL Equivalent of `JOIN` (Merging Tables)**
### **Creating Two DataFrames**
```python
# Sample passengers table
passengers = df[["PassengerId", "Name", "Pclass"]]

# Sample fares table
fares = df[["PassengerId", "Fare"]]

print(passengers.head(), fares.head())
```

### **1Ô∏è‚É£ INNER JOIN (Default in Pandas)**
**SQL Query:**
```sql
SELECT * FROM passengers INNER JOIN fares ON passengers.PassengerId = fares.PassengerId;
```
**Pandas Equivalent:**
```python
merged_df = passengers.merge(fares, on="PassengerId", how="inner")
```

### **2Ô∏è‚É£ LEFT JOIN**
**SQL Query:**
```sql
SELECT * FROM passengers LEFT JOIN fares ON passengers.PassengerId = fares.PassengerId;
```
**Pandas Equivalent:**
```python
merged_df = passengers.merge(fares, on="PassengerId", how="left")
```

üéØ **Your Task:**  
- Merge the `passengers` and `fares` DataFrames using an **inner join**.

‚úÖ **Why?** `JOINs` allow combining **multiple datasets** into a single DataFrame.

---

## **üìå Step 8: SQL Equivalent of `UNION` (Concatenation)**
### **Stacking Two DataFrames**
**SQL Query:**
```sql
SELECT * FROM df1 UNION SELECT * FROM df2;
```
**Pandas Equivalent:**
```python
df_union = pd.concat([df1, df2])
```

üéØ **Your Task:**  
- Create two DataFrames with different rows and **combine them using `concat()`**.

‚úÖ **Why?** Useful for **appending new data** (e.g., multiple years of records).

---

## **üìå Step 9: SQL Equivalent of `LIMIT` (Selecting Top Rows)**
**SQL Query:**
```sql
SELECT * FROM df LIMIT 5;
```
**Pandas Equivalent:**
```python
df.head(5)
```

üéØ **Your Task:**  
- Select **the top 10 passengers who paid the highest Fare**.

‚úÖ **Why?** `LIMIT` is useful for **previewing data**.

---

## **üìå Step 10: SQL Equivalent of `CASE` (Conditional Column)**
**SQL Query:**
```sql
SELECT Name, Age,
    CASE
        WHEN Age < 18 THEN 'Child'
        WHEN Age >= 18 AND Age < 60 THEN 'Adult'
        ELSE 'Senior'
    END AS AgeGroup
FROM df;
```
**Pandas Equivalent:**
```python
df["AgeGroup"] = df["Age"].apply(lambda x: "Child" if x < 18 else ("Senior" if x >= 60 else "Adult"))
```

üéØ **Your Task:**  
- Create a column **"FareCategory"** where:
  - `< 10`: `"Low"`
  - `10 - 50`: `"Medium"`
  - `> 50`: `"High"`

‚úÖ **Why?** Conditional transformations are useful for **feature engineering**.

---

## **üî• Final Boss Challenge: Titanic SQL Simulation**
üéØ **Goal: Replicate this SQL query in Pandas**
```sql
SELECT Pclass, Sex, COUNT(*) AS Passengers, AVG(Age) AS AvgAge, AVG(Fare) AS AvgFare
FROM df
WHERE Age IS NOT NULL
GROUP BY Pclass, Sex
HAVING COUNT(*) > 50
ORDER BY AvgFare DESC;
```
---

## **üî• Recap: SQL ‚Üí Pandas Mapping**
| **SQL Command**  | **Pandas Equivalent** |
|-----------------|---------------------|
| `SELECT` | `df[["col1", "col2"]]` |
| `WHERE` | `df[df["col"] > value]` |
| `ORDER BY` | `df.sort_values(by="col")` |
| `GROUP BY` | `df.groupby("col").agg()` |
| `HAVING` | `.query()` |
| `JOIN` | `df.merge()` |
| `UNION` | `pd.concat()` |
| `LIMIT` | `df.head(n)` |
| `CASE` | `.apply(lambda x: ...)` |

üöÄ **Now you can handle SQL-like queries in Pandas like a pro!** Let me know if you want **practice exercises!** üî•

# **üìå Pandas Ultimate Cheat Sheet: Functions, Examples, & Advanced Tips üöÄ**  
This **cheat sheet** covers **all Pandas functions** we‚Äôve studied, their **use cases**, and **advanced techniques** to handle real-world datasets.

---

# **üîπ 1. Importing & Loading Data**
| **Function** | **Use Case** | **Example** |
|-------------|-------------|-------------|
| `pd.read_csv()` | Load CSV file | `df = pd.read_csv("data.csv")` |
| `pd.read_excel()` | Load Excel file | `df = pd.read_excel("data.xlsx")` |
| `pd.read_json()` | Load JSON file | `df = pd.read_json("data.json")` |
| `df.to_csv()` | Save DataFrame to CSV | `df.to_csv("output.csv", index=False)` |
| `df.to_excel()` | Save DataFrame to Excel | `df.to_excel("output.xlsx", index=False)` |

üí° **Advanced Hint**: Use `chunksize=1000` in `read_csv()` for **large files**:  
```python
for chunk in pd.read_csv("large_file.csv", chunksize=1000):
    process(chunk)  # Process each chunk separately
```

---

# **üîπ 2. Inspecting & Exploring Data**
| **Function** | **Use Case** | **Example** |
|-------------|-------------|-------------|
| `df.head(n)` | View first `n` rows | `df.head(10)` |
| `df.tail(n)` | View last `n` rows | `df.tail(5)` |
| `df.info()` | Check column types & nulls | `df.info()` |
| `df.describe()` | Summary stats | `df.describe()` |
| `df.shape` | Get (rows, columns) | `df.shape` |
| `df.columns` | Get column names | `df.columns` |

üí° **Advanced Hint**: Check memory usage with:
```python
df.memory_usage(deep=True)
```

---

# **üîπ 3. Selecting & Filtering Data**
| **Function** | **Use Case** | **Example** |
|-------------|-------------|-------------|
| `df["col"]` | Select single column | `df["Age"]` |
| `df[["col1", "col2"]]` | Select multiple columns | `df[["Age", "Fare"]]` |
| `df.iloc[]` | Select rows/cols by index | `df.iloc[0:5, 1:3]` |
| `df.loc[]` | Select by labels | `df.loc[df["Age"] > 30, ["Name", "Age"]]` |
| `df[df["Age"] > 30]` | Filter rows | `df[df["Sex"] == "male"]` |

üí° **Advanced Hint**: Use `query()` for cleaner filtering:
```python
df.query("Age > 30 & Sex == 'male'")
```

---

# **üîπ 4. Sorting & Ordering**
| **Function** | **Use Case** | **Example** |
|-------------|-------------|-------------|
| `df.sort_values()` | Sort rows by column | `df.sort_values(by="Age", ascending=False)` |
| `df.sort_index()` | Sort by row index | `df.sort_index()` |

üí° **Advanced Hint**: Sort by multiple columns:
```python
df.sort_values(by=["Pclass", "Fare"], ascending=[True, False])
```

---

# **üîπ 5. Handling Missing Data**
| **Function** | **Use Case** | **Example** |
|-------------|-------------|-------------|
| `df.isnull().sum()` | Count null values | `df.isnull().sum()` |
| `df.dropna()` | Drop missing rows | `df.dropna()` |
| `df.fillna(value)` | Fill missing values | `df.fillna(df["Age"].median())` |

üí° **Advanced Hint**: Fill missing values by **group**:
```python
df["Age"] = df.groupby("Pclass")["Age"].transform(lambda x: x.fillna(x.median()))
```

---

# **üîπ 6. Grouping & Aggregation**
| **Function** | **Use Case** | **Example** |
|-------------|-------------|-------------|
| `df.groupby("col")` | Group by column | `df.groupby("Pclass")["Fare"].mean()` |
| `df.agg()` | Apply multiple agg functions | `df.groupby("Sex").agg({"Age": "mean", "Fare": "sum"})` |

üí° **Advanced Hint**: Use `.transform()` to retain original DataFrame shape:
```python
df["AvgFareByClass"] = df.groupby("Pclass")["Fare"].transform("mean")
```

---

# **üîπ 7. Creating & Modifying Columns**
| **Function** | **Use Case** | **Example** |
|-------------|-------------|-------------|
| `df["new_col"] = value` | Add new column | `df["AgeSquared"] = df["Age"] ** 2` |
| `df["col"].apply()` | Apply function to column | `df["FareCategory"] = df["Fare"].apply(lambda x: "Low" if x < 10 else "High")` |

üí° **Advanced Hint**: Use `.map()` for fast categorical mapping:
```python
df["Sex"] = df["Sex"].map({"male": 0, "female": 1})
```

---

# **üîπ 8. Merging & Joining Data**
| **Function** | **Use Case** | **Example** |
|-------------|-------------|-------------|
| `df1.merge(df2, on="col")` | SQL-style join | `df1.merge(df2, on="PassengerId", how="inner")` |
| `pd.concat([df1, df2])` | Append rows | `df_concat = pd.concat([df1, df2])` |

üí° **Advanced Hint**: Merge on multiple keys:
```python
df1.merge(df2, on=["PassengerId", "Pclass"], how="left")
```

---

# **üîπ 9. Working with Dates**
| **Function** | **Use Case** | **Example** |
|-------------|-------------|-------------|
| `pd.to_datetime()` | Convert to datetime | `df["date"] = pd.to_datetime(df["date"])` |
| `df["date"].dt.year` | Extract year | `df["year"] = df["date"].dt.year` |
| `df.resample("M")` | Resample by month | `df.set_index("date").resample("M").mean()` |

üí° **Advanced Hint**: Extract day of the week:
```python
df["Weekday"] = df["date"].dt.day_name()
```

---

# **üîπ 10. Exporting Data**
| **Function** | **Use Case** | **Example** |
|-------------|-------------|-------------|
| `df.to_csv()` | Save as CSV | `df.to_csv("output.csv", index=False)` |
| `df.to_excel()` | Save as Excel | `df.to_excel("output.xlsx", index=False)` |

---

# **üî• Advanced Challenges**
### **üîπ 1. Filter Passengers:**
- Who are **older than 30**  
- **Paid more than 50**  
- **Survived**

‚úÖ **Hint**:
```python
df_filtered = df[(df["Age"] > 30) & (df["Fare"] > 50) & (df["Survived"] == 1)]
```

### **üîπ 2. Find the Average Fare by Class & Gender**
‚úÖ **Hint**:
```python
df.groupby(["Pclass", "Sex"])["Fare"].mean()
```

### **üîπ 3. Create a New Column: "AgeGroup"**
‚úÖ **Hint**:
```python
df["AgeGroup"] = df["Age"].apply(lambda x: "Child" if x < 18 else ("Senior" if x > 60 else "Adult"))
```

---

### **üî• Final Challenge**
Can you:

1Ô∏è‚É£ Load Titanic dataset?  
2Ô∏è‚É£ Fill missing ages **by class median**?  
3Ô∏è‚É£ Create an **"AgeGroup"** column?  
4Ô∏è‚É£ Find **average Fare per class**?  
5Ô∏è‚É£ Save cleaned data to CSV?  

üöÄ **If you can, you're a Pandas expert!** üî•